<!--
  Generated template for the VideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic 3 YouTube Player
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Open YouTube Video Player in Ionic 3 Appliccation Demo
  <p>
    <button ion-button round icon-start color="danger" (click)="openMyVideo()">
      <ion-icon name="logo-youtube"></ion-icon>
      Open YouTube Video
    </button>
  </p>
</ion-content>
